h1{
    color:blue;
  
}
h2{
    color: chartreuse;

}


.header{ 
      background-color: cadetblue;
    border: dotted;
}

body{

    background-color: #ffffff
}

.origami{

   
    position: relative;
    justify-content: space-between;
display:flex;

}